<div class="form-container">
    <%= form_for @artist_specialty do |f| %>
        <div class="form-input">
            <label>Select Yourself</label>
            <%= f.collection_select(:artist_id, Artist.all, :id, :email) %>
        </div>
        <div class="form-input">
            <label>Select Specialties</label>
            <%= f.collection_select(:specialty_id, Specialty.all, :id, :name, {}, {:multiple => true}) %>
        </div>

        <%= f.submit %>
    <% end %>
</div>