<h4>Select Specialties</h4>

<%= form_for @project_specialty do |f| %>
    <label>Hold down command to select multiple specialties</label>
    <%= f.collection_select(:specialty_id, @specialties, :id, :name, {}, {:multiple => true}) %>

    <%= f.submit %>
<% end %>